<!-- <div class="wrapper"> -->
    <div class="inicio">
        <div class="inicio__contenido">
            
            <div class="inicio__contenedor">
                <h1 class="inicio__titulo">¿Cómo quieres entrar?</h1>
                <button class="inicio__botones" [routerLink]="['/login']" >Usuario</button>
                <button class="inicio__botones">Asociación Protectora</button>
                <p class="inicio__texto">Registrate en otro momento</p>
            </div>
        </div>

    </div>
<!-- </div> -->
