<div class="container">
  <div class="col-xs-12">
    <div class="perfil">
      <div class="perfil__foto">
        <img class="perfil__inicio" src="../../../assets/fotos/group.jpg" />
      </div>
      <div class="perfil__boton">
        <div>
          <button type="button" [routerLink]="['/editar-perfil']">
            <div class="perfil__img1">
            <img src=" ../../../assets/fotos/chica.png" alt="chica" />
            Mi Perfil
            </div>
            <div class="perfil__img2">
            <img src="../../../assets/fotos/arrow.png" alt="flecha" />
            </div>
        </button>
      </div>
      <div>
        <button type="button">
          <div class="perfil__img1">
          <img src="../../../assets/fotos/localization.png" alt="dirección" />
            Direcciones
          </div>
          <div class="perfil__img2">
            <img src="../../../assets/fotos/arrow.png" alt="flecha" />
          </div>
          </button>
      </div>
      <div>
        <button type="button">
          <div class="perfil__img1">
          <img class="perfil__imagen" src="../../../assets/fotos/favoritosCopy.png"
            alt="corazón" />
            Favoritos
          </div>
          <div class="perfil__img2">
          <img src="../../../assets/fotos/arrow.png" alt="flecha" />
          </div>
       </button>
      </div>
      <div>
        <button type="button">
          <div class="perfil__img1">
           <img src="../../../assets/fotos/notificaciones.png" alt="campana" />
            Notificaciones
          </div>
          <div class="perfil__img2">
           <img src="../../../assets/fotos/arrow.png" alt="flecha" />
          </div>
        </button>
      </div>
      <div>
        <button type="button" [routerLink]="['/estado-adopcion']">
          <div class="perfil__img1">
          <img src="../../../assets/fotos/mascota.png" alt="perro" />
          Estado de la adopción
          </div>
          <div class="perfil__img2">
          <img src="../../../assets/fotos/arrow.png" alt="flecha" />
          </div>
        </button>
      </div>
      <div>
        <button type="button" [routerLink]="['/adopcion']">
          <div class="perfil__img1">
          <img src="../../../assets/fotos/apadrina.png" alt="apadrina" />
          Apadrinar
          </div>
          <div class="perfil__img2">
          <img src="../../../assets/fotos/arrow.png" alt="flecha" />
          </div>
        </button>
      </div>
      <div>
        <button type="button">
          <div class="perfil__img1">
          <img src="../../../assets/fotos/donar.png" alt="donar" />
          Donar
          </div>
          <div class="perfil__img2">
          <img src="../../../assets/fotos/arrow.png" alt="flecha" />
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<div>
  <app-footer></app-footer>
</div>

