<div class="container">
  <div class="wrapper">
  <div class="col-xs-12 middle-xs">
    <div class="mas">
        <div class="mas__item1">
          <div>
            <button type="button">
              <div class="mas__img1">
                <img src=" ../../../assets/fotos/protectora.png" alt="casa protectora" />
                Asociaciones protectoras
              </div>
              <div class="mas__img2">
                <img src="../../../assets/fotos/arrow.png" alt="flecha" />
              </div>
            </button>
          </div>
          <div>
            <button type="button">
              <div class="mas__img1">
                <img src="../../../assets/fotos/eventos.png" alt="calendario" />
                Eventos
              </div>
              <div class="mas__img2">
                <img src="../../../assets/fotos/arrow.png" alt="flecha" />
              </div>
            </button>
          </div>
          <div>
            <button type="button">
              <div class="mas__img1">
                <img src="../../../assets/fotos/blogCopy.png" alt="blog" />
                Curiosidades
              </div>
              <div class="mas__img2">
                <img src="../../../assets/fotos/arrow.png" alt="flecha" />
              </div>
            </button>
          </div>
          <div>
            <button type="button">
              <div class="mas__img1">
                <img src="../../../assets/fotos/ayuda.png" alt="información" />
                Ayuda
              </div>
              <div class="mas__img2">
                <img src="../../../assets/fotos/arrow.png" alt="flecha" />
              </div>
            </button>
          </div>
          <div>
            <button type="button">
              <div class="mas__img1">
                <img src="../../../assets/fotos/confi.png" alt="configuración" />
                Configuración
              </div>
              <div class="mas__img2">
                <img src="../../../assets/fotos/arrow.png" alt="flecha" />
              </div>
            </button>
          </div>
        </div>
        <div class="mas__item2">
          <div>
            <button type="button" [routerLink]="['/inicio']">
              <div class="mas__img1">
                <img src="../../../assets/fotos/salir.png" alt="salir" />
                Cerrar sesión
              </div>
              <div class="mas__img2">
                <img src="../../../assets/fotos/arrow.png" alt="flecha" />
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div>
  <app-footer></app-footer>
  </div>
