
  <div class="adopcionsolicitud" id="formulariomassolicitudaceptada">
    <div class="adopcionsolicitud__boton"><button [routerLink]="['/estado-adopcion']">x</button></div>
    <h2 class="adopcionsolicitud__titulosolicitud">¡Enviado!</h2>
    <p>Hemos enviado tu formulario a la protectora. Si quieres ponerte en contacto
      con ellos puedes hacerlo vía email o whatsapp
    </p>
    <p>Recuerda que la protectora se pondrá en contacto contigo para poder hacer
      la entrevista personal
    </p>
    <img src="../../../assets/imagenes/undrawPlayfulCatRchv.png" alt="">
  
  </div>
  <div class="tamanoForm">
  <div *ngIf="primero === true">
    <div class="formu__titulo">
      <p>Formulario de adopción</p>
    </div>
    <div class="formu__prueba">
      <div class="progress progress-striped formu__barraPadre ">
        <div class="progress-bar progress-bar formu__barra " role="progressbar"
             aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"
             style="width: 33%;">
          <span class="sr-only"></span>
        </div>
      </div>
      </div>
      <app-formulario [usuarioNuevo]="usuarioRegistrado"></app-formulario>
      <div>
        <input type="submit" (click)="segundaVista()" value="Continuar" class="formu__btn">
      </div>
    </div>
  </div>
    
  
  <div *ngIf="segundo === true">
    <div class="formu">
      <div class="formu__titulo">
        <img src="../../../assets/fotos/flecha-atras.png" (click)="primeraVista()">
        <p>Formulario de adopción</p>
      </div>
      <div class="formu__prueba">
        <div class="progress progress-striped formu__barraPadre ">
          <div class="progress-bar progress-bar formu__barra " role="progressbar"
             aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"
             style="width: 66%">
          <span class="sr-only"></span>
          </div>
        </div>
      </div>
      <div class="formulariomas__titulo">
        <h3>Sobre las mascotas</h3>
      </div>
      <div class="formu__inputs">
        <div class="formu__inp">
            
              <div class="formulariomas__siono">
                <p>¿Tienes otros animales?</p>
                <div class="formulariomas__botones">
                  <label for="si">Sí
                    <input type="radio" name="tienes-animales" value="si">
                  </label>
                  <label for="si">No
                    <input type="radio" name="tienes-animales" value="no">
                  </label>
                </div>
              </div>
  
        <!-- <div class="formu">
          <div class="formu__titulo">
            <img src="../../../assets/fotos/flecha-atras.png">
            <p>Formulario de adopción</p>
          </div>
  
          <div class="formu__prueba">
            <div class="progress progress-striped formu__barraPadre ">
              <div class="progress-bar progress-bar formu__barra " role="progressbar"
                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                 style="width: 50%">
              <span class="sr-only">80% completado (peligro / error)</span>
              </div>
            </div>
          </div>
  
          <div class="formu__titulo2">
            <h3>Sobre las mascotas</h3>
          </div>
          <div class="formu__inputs">
            <div class="formu__inp">
              <div class="formu__inp1">
                <div class="row">  
                  <div class="col-9 col-xs-9">
                    <p name="" class="formu__p">¿Tienes otros animales?</p>
                  </div>
                  <div class="col-3 col-xs-3">
                    <div class="formu__prueba">
                      <div>
                        <label class="estiloLetras l1">si </label>
                        <label class="estiloLetras">no</label>
                      </div>
                      <div>
                        <input class="i1 estiloBoton" type="radio" name="sec" value="Si" />
                        <input type="radio" class="estiloBoton" name="sec" value="No" />
                      </div>
                    </div>
                    
                  </div>
                
                </div>
              </div> -->
          <div>
            <input class="formu__letra1" type="text" [(ngModel)]= "adopcion.masAnimal.cual" placeholder="¿Cuáles?" />
          </div>
          <div>
            <input class="formu__letra1" type="text" [(ngModel)]= "adopcion.masAnimal.comportamiento" placeholder="¿Se lleva bien con otros animales?" />
          </div>
        </div>
        <div class="formu__inp">
          <label name="" class="formu__p">¿Por qué has elegido adoptar?</label>
          <div>
            <input class="formu__letra" [(ngModel)]= "adopcion.eleccionAdop" type="text" />
          </div>
        </div>
        <div class="formu__inp">
          <label name="" class="formu__p">¿Conoces las necesidades del animal?</label>
          <div>
            <input class="formu__letra" [(ngModel)]= "adopcion.necesidadesAnim" type="text" />
          </div>
        </div>
        <div class="formu__inp">
          <label name="" class="formu__p">¿Conoces sus gastos?</label>
          <div>
            <input class="formu__letra" [(ngModel)]= "adopcion.gastosAnim" type="text" />
          </div>
        </div>
        <div class="formu__inp">
          <label name="" class="formu__p">¿Conoces su alimentación?</label>
          <div>
            <input class="formu__letra" [(ngModel)]= "adopcion.alimentacionAnim" type="text" />
          </div>
        </div>
        <div class="formulariomas__centrarboton">
          <input type="submit" (click)="terceraVista()" value="Continuar" class="formu__btn">
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="tercero === true">
    <div class="formu formulariomas" id="formulariomasacepta">
      <div class="formu__titulo">
        <img src="../../../assets/fotos/flecha-atras.png" (click)="segundaVista()">
        <p>Formulario de adopción</p>
      </div>
      <div class="formu__prueba">
        <div class="progress progress-striped formu__barraPadre ">
          <div class="progress-bar progress-bar formu__barra " role="progressbar"
               aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
               style="width: 100%;">
            <span class="sr-only"></span>
          </div>
        </div>
      </div>
      <div class="formulariomas__titulo">
        <h3>Familia y hogar</h3>
      </div>
      <div class="formulariomas__inputado">
        <p>¿Dónde vives?</p>
        <input type="text" name="donde-vives" [(ngModel)]= "adopcion.dondeVives" placeholder="Piso, casa, chalet...">
      </div>
      <div class="formulariomas__siono">
        <p>¿Vives de alquiler?</p>
        <div class="formulariomas__botones">
          <label for="si">Sí
            <input type="radio" name="alquiler" [(ngModel)]= "adopcion.alquiler"  value="true">
          </label>
          <label for="si">No
            <input type="radio" name="alquiler" [(ngModel)]= "adopcion.alquiler"  value="false">
          </label>
        </div>
      </div>
      <div class="formulariomas__siono">
        <p>¿Tu casero permite animales?</p>
        <div class="formulariomas__botones">
          <label for="si">Sí
            <input type="radio" name="casero" [(ngModel)]= "adopcion.caseroPermite" value="true">
          </label>
          <label for="si">No
            <input type="radio" name="casero" [(ngModel)]= "adopcion.caseroPermite" value="false">
          </label>
        </div>
      </div>
      <div class="formulariomas__siono">
        <p>¿Crees que podrías mudarte pronto?</p>
        <div class="formulariomas__botones">
          <label for="si">Sí
            <input type="radio" name="mudar" [(ngModel)]= "adopcion.mudarse" value="true">
          </label>
          <label for="si">No
            <input type="radio" name="mudar" [(ngModel)]= "adopcion.mudarse" value="false">
          </label>
        </div>
      </div>
      <div class="formulariomas__siono">
        <p>¿Tienes jardín?</p>
        <div class="formulariomas__botones">
          <label for="si">Sí
            <input type="radio" name="jardin" [(ngModel)]= "adopcion.jardin" value="true">
          </label>
          <label for="si">No
            <input type="radio" name="jardin" [(ngModel)]= "adopcion.jardin" value="false">
          </label>
        </div>
      </div>
      <div class="formulariomas__siono">
        <p>¿Vives con otras personas?</p>
        <div class="formulariomas__botones">
          <label for="si">Sí
            <input type="radio" name="personas" [(ngModel)]= "adopcion.vivesSolo" value="true">
          </label>
          <label for="si">No
            <input type="radio" name="personas" [(ngModel)]= "adopcion.vivesSolo" value="false">
          </label>
        </div>
      </div>
      <div class="formulariomas__siono">
        <p>¿Están todos de acuerdo con la adopción?</p>
        <div class="formulariomas__botones">
          <label for="si">Sí
            <input type="radio" name="acuerdo" [(ngModel)]= "adopcion.acuerdosAdop" value="true">
          </label>
          <label for="si">No
            <input type="radio" name="acuerdo" [(ngModel)]= "adopcion.acuerdosAdop" value="false">
          </label>
        </div>
      </div>
      <div class="formulariomas__siono">
        <p>¿Estás de acuerdo con que visitemos tu casa?</p>
        <div class="formulariomas__botones">
          <label for="si">Sí
            <input type="radio" name="visita" [(ngModel)]= "adopcion.visitarCasa" value="true">
          </label>
          <label for="si">No
            <input type="radio" name="visita" [(ngModel)]= "adopcion.visitarCasa" value="false">
          </label>
        </div>
      </div>
      <div class="formulariomas__centrarboton">
        <button class="formulariomas__enviar" (click)="acepta()">Enviar</button>
      </div>
    </div>
  
  </div>


