<footer class="pie">
  <!-- <div class="row"> -->
    <!-- <div class="col-1 col-xs-1">

    </div> -->
    <div class="pie__contenedor">
    <div>
      <img src="../../../assets/home/home@2x.png" [routerLink]="['/home']" class="pie__imagenes">
    </div>
    <div>
      <img src="../../../assets/home/mapa@3x.png" [routerLink]="['/mapa']" class="pie__imagenes">
    </div>
    <div>
      <img src="../../../assets/home/mascota@2x.png" [routerLink]="['/adopcion']" class="pie__imagenes">
    </div>
    <div>
      <img src="../../../assets/home/perfil.png" [routerLink]="['/perfil']" class="pie__imagenes">
    </div>
    <div>
      <img src="../../../assets/home/mS@2x.png" [routerLink]="['/perfil-mas']" class="pie__imagenes">
    </div>
    <!-- <div class="col-1 col-xs-1">

    </div> -->
  <!-- </div> -->
  </div>
</footer>
